
/* Body and Background */

body { margin: 0px auto; color: black; background: white; width: 640px; border: 1px; }

/* Headlines etc */

h1 { font-family: 'Life Savers', cursive; font-size: 250%; }

h2 { color: #8258FA; font-family: 'Quantico', sans-serif; }

/* Paragraph text and list text */

p { font-family: 'Open Sans', cursive; }

li { font-family: 'Open Sans'; }

/* Misc */

footer { padding: 10px; margin-top: 100px; border-radius: 15px; -moz-border-radius: 15px; text-align: center; }

