
/* Body and Background */

body { margin-left: 10%; margin-right: 10%; color: black; background; white; }

/* Headlines etc */

h1 { font-family: 'Calligraffitti', cursive; font-size: 250%; }

h2 { color: orange; font-family: 'Droid Sans', sans-serif; }

/* Paragraph text and list text */

p { font-family: 'Crafty Girls', cursive; }

li { font-family: 'Crafty Girls'; }


