<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>
        {% if single_post %}
        {{ articles.0.title }}
        {% else %}
        Agam's Blog
        {% endif %}
    </title>
    <meta name="description" content="Agam's Blog">

    <link href="/static/images/favicon.ico" rel="shortcut icon" />
    <link href="/static/css/css-mini-reset.css" rel="stylesheet" type="text/css" />
    <link href='http://fonts.googleapis.com/css?family=Crafty+Girls|Droid+Sans|Calligraffitti' rel='stylesheet' type='text/css'>
    <link href="/static/css/main.css" rel="stylesheet" type="text/css" />
    <!-- <link rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/bootstrap-1.2.0.min.css"> -->
    <style>
        footer { background: #edd8ba; }
        .blogpost { padding: 10px; margin-top: 20px; margin-bottom: 40px; }
        .blogposttitle { font-family: 'Droid Sans'; font-size: x-large; }
        .blogposttitle a:link { color: orange; }
        .blogposttitle a:visited { color: orange; }
        .blogpostbody { font-size: 125%; }
        .blogpostdate { font-family: 'Droid Sans'; text-align: right; font-size: 75%; margin-top: 10px; }
        .blogpostcommentslink { font-family: 'Calligraffitti'; font-size: 75%; text-align: right; }
        #blogpostswrapper { margin-bottom: 100px; }
        #disqus_thread { font-size: 80%; }
        #dsq-pagination { display: none; }
    </style>
    <script type="text/javascript" src="/static/js/showdown.js"></script>
    <script src="https://www.google.com/jsapi?key=ABQIAAAAnjiQb--VssnWxB8gJJANHRT8vATYeMg6i0IPOit6GndEekLi2xQ4F_cMnVxB8nQzMgqGJOUYavreNw" type="text/javascript"></script>
    <script language="Javascript" type="text/javascript">
        google.load("jquery", "1.6");

        function convert_blog_text() {
            var converter = new Showdown.converter();
            $(".blogpostbody").each(function(index) {
                    $(this).append(converter.makeHtml( $(this).children("textarea")[0].value ));
            });
        }

        google.setOnLoadCallback(convert_blog_text);
    </script>
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-16612682-3']);
        _gaq.push(['_trackPageview']);

        (function() {
         var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
         ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
         var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
         })();
     </script>

</head>

<body>
    <h1 style="font-size:4em; text-align:center; margin-bottom:50px;">Bloggy</h1>
    <!-- Note: for a single post, the len(articles) == 1 -->
    <div id="blogpostswrapper">
    {% for article in articles %}
    <div class="blogpost">
            <div class="blogposttitle"><a href = "/blog/article/{{ article.slug }}">{{ article.title|upper }}</a></div>
        <div class="blogpostbody">
            <textarea style="visibility:hidden;">{{ article.body }}</textarea>
        </div>
        <div class="blogpostdate">{{ article.published }}</div>
        {% if not single_post %}
            <div class="blogpostcommentslink"><a href = "http://agambrahma.appspot.com/blog/article/{{ article.slug }}#disqus_thread">View Comments</a></div>
        {% endif %}
    </div>
    {% endfor %}
</div> <!-- end blogpostswrapper -->

    {% if single_post %}
        <!-- Single article case -->
        <div id="disqus_thread"></div>
        <script type="text/javascript">
        var disqus_shortname = 'agamweb';
        var disqus_identifier = "{{ article.slug }}-{{ article.published }}";
        var disqus_url = "http://agambrahma.appspot.com/blog/article/{{ article.slug }}";

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
         var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
         dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
         (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
         })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>

    {% else %}
        <script type="text/javascript">
        var disqus_shortname = 'agamweb';

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function () {
            var s = document.createElement('script'); s.async = true;
            s.type = 'text/javascript';
            s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
            (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
            }());
        </script>
    {% endif %}

    <footer>
    <p><a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/3.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-nd/3.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/3.0/">Creative Commons Attribution-NonCommercial-NoDerivs 3.0 Unported License</a>.
     </footer>
</body>


