<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Agam's Personal Web</title>
    <meta name="description" content="Where Agam hangs up a brief profile, a blog of sorts, and some other stuff">

    <link href="/static/images/favicon.ico" rel="shortcut icon" />
    <link href="/static/css/css-mini-reset.css" rel="stylesheet" type="text/css" />
    <link href='http://fonts.googleapis.com/css?family=Crafty+Girls|Droid+Sans|Calligraffitti' rel='stylesheet' type='text/css'>
    <link href="/static/css/main.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <h1>Welcome to Agam's Corner of the Web</h1>

    <h2>What is this place ?</h2>
    <p>I spent a long time wishing I had implemented this or that small idea, and complaining about the limitations of the various online tools I used, until I realizd what a good idea it would be to just roll my own setup. Hopefully, this site will eventually be more than just this index page.

    <h2>App-lets</h2>
    <p>Anything that's not the page you're looking at, is one of many smaller sub-projects scattered around this site.
    <ul>
        <li>A blog of sorts.
        <li><a href="/static/html/posterous-toc.html">Browsing tools</a> for my posterous feed.
    </ul>

    <h2>In brief ...</h2>
    <p>I work as a software engineer with Google. Prior to this, I worked with Bloomberg in New York City. I graduated from UNC Chapel Hill with a Masters in 2007, and from IIT Delhi in 2005 before that.
    <p>I've been busily "doing my own thing" for a long time, but I want to change that and find some like-minded people to work on stuff with together.

    <h2>Contact</h2>
    <p> I can be reached at agam DOT brahma AT gmail DOT com.
    <p>Right now, I have a <a href="http://www.twitter.com/agambrahma">twitter feed</a>, a <a href="http://www.linkedin.com/pub/agam-brahma/1/324/643">linkedin account</a>, and a <a href="http://www.facebook.com/agambrahma">facebook account</a>, which are auto-posted to by my <a href="http://agambrahma.posterous.com/">posterous account</a>. I can also be found on <a href="https://plus.google.com/116824588290880385608/posts">Google+</a>, though I'm not very socially active anywhere at the moment.
    <footer>
    <p>The code for this website is <a href="https://github.com/agam/personalweb">available on Github</a>
    <p><a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/3.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-nd/3.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/3.0/">Creative Commons Attribution-NonCommercial-NoDerivs 3.0 Unported License</a>.
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-16612682-3']);
        _gaq.push(['_setDomainName', 'appengine.appspot.com']);
        _gaq.push(['_setAllowHash', false]);
        _gaq.push(['_trackPageview']);

        (function() {
         var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
         ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
         var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
         })();
    </script>
</footer>
</body>
</html>
